{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3" style="height:700px">
        <h1>Welcome home.</h1>
        <p class="lead">This is a place where dreams come true.</p>
        <form class="form">
            <div class="lead form-inline">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-black">The marketplace</a>
            </div>
            <div class="lead form-inline">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-black">About us</a>
            </div>
        </form>
        
    </main>
</div>
{% endblock %}