<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="static/styles/main.css">

    {% block head%}{% endblock head%}
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>


    <div class="container-fluid" style="background-color: #5bccf6">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 mb-4 ">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                    <a {% if current_user.is_anonymous %} href="{{ url_for('views.home') }}" {% else %}
                        href="{{ url_for('views.marketplace') }}" {% endif %}
                        class="d-flex align-items-center col-md-3 mb-2 text-dark text-decoration-none">
                        <h1>Marketplace</h1>
                    </a>

                    {% if current_user.is_authenticated %}
                    <ul class="nav col-15 mb-2 justify-content-end mb-md-0">
                        <li class="nav-item w3-bar-item">
                            <h5><a href="{{ url_for('views.home') }}" class="nav-link w3-button w3-bar-item"
                                    style="color:#030e12;"> Home </a>
                            </h5>
                        </li>

                        <li class="nav-item w3-bar-itemm">
                            <h5><a href="{{ url_for('views.profile') }}" class="nav-link w3-button w3-bar-item"
                                    style="color:#030e12"> Profile
                                </a></h5>
                        </li>
                        <li class="nav-item w3-bar-itemm">
                            <h5><a href="{{ url_for('views.logout') }}" class="nav-link w3-button w3-bar-item"
                                    style="color:#030e12"> Log out
                                </a></h5>
                        </li>
                    </ul>
                    {% else %}
                    <div class="nav col-15 md-5 justify-content-end">
                        <h5><a href="{{ url_for('views.login') }}" class="nav-link w3-button w3-bar-item"
                                style="color:#030e12"> Log In
                            </a></h5>
                        <h5><a href="{{ url_for('views.register') }}" class="nav-link w3-button w3-bar-item"
                                style="color:#030e12"> Sign Up
                            </a></h5>
                    </div>
                    {% endif %}
                    <div class="nav col-15 md-5 justify-content-end">
                        <h5><a href="{{ url_for('views.about') }}" class="nav-link w3-button w3-bar-item"
                                style="color:#030e12"> About us
                            </a></h5>
                        <h5><a href="{{ url_for('views.contact') }}" class="nav-link w3-button w3-bar-item"
                                data-bs-toggle="modal" data-bs-target="#contact-us" style="color:#030e12"> Contact us
                            </a></h5>
                    </div>


                    <div class="modal fade" tabindex="-1" id="contact-us">
                        <div class="modal-dialog">
                            <div class="modal-content" role="">
                                <div class="modal-header" style="background-color:rgb(248, 232, 160);">
                                    <h5 class="modal-title">Contact us</h5>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('views.contact')}}" method="POST">
                                        {{ post_form.csrf_token }}
                                        <div class="form-floating">
                                            {{post_form.email(class="form-control border-1 shadow-m",type="email",
                                            id="email",placeholder="")}}
                                            <label for="email">Your Email:*</label>
                                        </div>
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating">
                                            {{post_form.message(class="form-control border-2 shadow-m",type="text",
                                            id="message",placeholder="")}}
                                            <label for="message">Your message here:*</label>
                                        </div>
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn close btn-primary" >Send message</button>
                                            <button type="button" class="btn close btn-danger"
                                                data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    {% block body %}{% endblock body %}
</body>
<footer>
    <div class="text-center text-black p-1" style="background-color: #5bccf6;">
        © 2022 Copyright: <a class="text-black">Marketplace</a>
        <ul class="nav col-15 mb-2 justify-content-center mb-md-0">
            <li>
                <a href="{{ url_for('views.contact') }}" class="nav-link w3-button w3-bar-item" style="color:#030e12">
                    Contact Us
                </a>
            </li>
        </ul>
    </div>
</footer>
</html>