{% extends "base.html" %} 


{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <p>{{msg}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<section class="vh-100" style="background-color: rgb(138, 230, 173);">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-12">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-0">
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6 col-xl-6 order-2 order-lg-1">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>

                <form action="/login" method="get">
                  
                  <div class="form-floating">
                    <input name="username" id="username" class="form-control" placeholder="" required />
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <label for="username">Username</label>
                  </div>

                  <div class="form-floating">
                    <input type="password" name="password" id="password" class="form-control" placeholder="" required />
                    <label for="password">Password</label>
                  </div>

                  <br>

                  <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Log In" />
                  </div>

                  </form>

                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock body %}
