{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="cover-container container-fluid d-flex w-100 h-100 p-5 flex-column">
    <main class="px-4" style="height: 800px">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="jumbotron ">
            <p class="lead">
            <h1 class="display-4">Marketplace.</h1>
            <p class="lead">Treasures are waiting for you...</p>
            <a href="#" class="btn btn-m btn-secondary fw-bold border-white bg-black">Add item</a>
            <input type="search" class="fw-bold border-white bg-black text-white mt-4 mb-0" placeholder="Search..."
                aria-label="Search">
            </p>
        </div>

        <hr class="my-4">
        <div class="container-m">
            <div class="">
                <div class="row pb-6 mb-lg-2 mr-1">
                    <div class="col-lg-3 col-md-2 mb-2 mr-2">
                        <div class="card rounded shadow-lg border-2">
                            <div class="card-body p-4">
                                <div class="hovereffect">
                                    <img class="img-responsive shadow-1-strong img-fluid img-thumbnail shadow-sm d-block mx-auto mb-2"
                                        src="https://bootstrapious.com/i/snippets/sn-cards/shoes-1_gthops.jpg" alt="">
                                    <div class="overlay">
                                        <h2>Title</h2>
                                        <a class="info" href="#">Check it out!</a>
                                    </div>
                                </div>
                                <br>
                                <p class="text-dark">Title</a>
                                <p class="text-dark">Price: 2,50€</a>
                                <p class="highest bid">Bid</p>
                                <a href="#" class="btn btn-sm btn-secondary text-dark">Buy product</a>
                                <a href="#" class="btn btn-sm btn-secondary text-dark">Give an offer</a>
                                <a href="#" class="btn btn-sm btn-secondary text-dark">Check details</a>
                                <br>
                                <br>
                                <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}