{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3" style="height:800px">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container" style="min-width:75%;">
            <div class="col-lg-12 rounded-top text-white d-flex flex-row"
                style="background-color:#030e12; height:auto;">
                <div class="inner ms-4 mt-3 mb-2 d-flex flex-column" style="width: 120px;">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                        alt="Generic placeholder image" class="img-fluid rounded img-thumbnail mt-2 mb-2"
                        style="width: 150px; z-index: 2">
                </div>
                <div class="inner d-flex flex-column ms-5 mt-5">
                    <h3 class="pt-2 ml-0 pl-2"> {{current_user.first_name}} {{current_user.last_name}}</h3>
                    <a href="#" class="btn btn-sm btn-secondary fw-bold border-white bg-black">Edit profile picture</a>
                </div>
            </div>


            {% with data=current_user.get_user_information() %}
            <div class="row">
                <div class="col-md-9 mr-0 pr-0">
                    <div class="card mr-0 pr-0">
                        <div class="card-body rounded-bottom">
                            <div class="card-title ">
                                <h5 class="lead mb-2 mt-2">
                                    Profile information
                                </h5>
                                <br>
                            </div>
                            <div class="row">
                                <hr>
                                <div class="col-sm-3">
                                    <h6 class="mt-2">First Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary mb-2">
                                    <input type="text" class="form-control" placeholder=""
                                        value="{{ current_user.first_name }}">
                                </div>
                                <hr>
                                <div class="col-sm-3">
                                    <h6 class="mt-2">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary mb-2">
                                    <input type="text" class="form-control mb-2" placeholder=""
                                        value="{{ current_user.last_name }}">
                                </div>
                                <hr>
                                <div class="col-sm-3">
                                    <h6 class="mt-2">Email Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary mb-2">
                                    <input type="text" class="form-control mb-2" placeholder=""
                                        value="{{ current_user.email }}">
                                </div>
                                <hr>
                                <div class="col-sm-3">
                                    <h6 class="mt-2">Phone Number</h6>
                                </div>
                                <div class="col-sm-9 text-secondary mb-2">
                                    <input type="text" class="form-control mb-2" placeholder=""
                                        value="{{ data.phone }}">
                                </div>
                                <hr>
                                <div class="col-sm-3">
                                    <h6 class="mt-2">Street Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary mb-2">
                                    <input type="text" class="form-control mb-2" placeholder=""
                                        value="{{ data.state_prov }}">
                                </div>
                                <hr>
                                <div class="col-sm-3">
                                    <h6 class="mt-2">Postal Code</h6>
                                </div>
                                <div class="col-sm-9 text-secondary mb-2">
                                    <input type="text" class="form-control mb-2" placeholder=""
                                        value="{{ data.postal_code }}">
                                </div>
                                <hr>
                                <div class="col-sm-3">
                                    <h6 class="mt-2">Province</h6>
                                </div>
                                <div class="col-sm-9 text-secondary mb-2">
                                    <input type="text" class="form-control mb-2" placeholder=""
                                        value="{{ data.state_prov }}">
                                </div>
                                <hr>
                                <div class="col-sm-3">
                                    <h6 class="mt-2">City</h6>
                                </div>
                                <div class="col-sm-9 text-secondary mb-2">
                                    <input type="text" class="form-control mb-2" placeholder="" value="{{ data.city }}">
                                </div>
                                <hr>

                                <div class="d-md-flex justify-content-center text-center">
                                    <button type="button" class="btn btn-primary btn">Update profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ml-0 pl-0">
                    <div class="card mb-6">
                        <div class="card-title">
                            <h5 class="lead ml-0 mb-2 mt-4">Bobby</h5>
                            <br>
                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
    </main>
</div>


{% endblock %}