{% extends "base.html" %}
{% block body %}
    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <form action="/login" method="POST">
        <p> Username :<br>
            <input type="text" name="username">
        </p>
        <p> Password :<br>
            <input type="password" name="password">
        </p>
        <input type="submit" value="Kirjaudu">
    </form>
    {% endif %}
{% endblock body %}