{% extends "base.html" %} {% block body %}
<form action="/register" method="post">

  <section class="vh-100" style="background-color: rgb(138, 230, 173);">
    <div class="container-fluid h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-12 py-1 my-1">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-0">
              <div class="row justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-6 order-2 order-lg-1">

                  <p class="text-center h1 fw-bold mb-4 mx-4 mx-md-2 mt-4">Sign up</p>
                  
                  <div class="form-floating">
                    <input type="first_name" class="form-control" id="first_name" name="first_name" placeholder="">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <label for="first_name">Your First Name</label>
                  </div>

                  <div class="form-floating">
                    <input type="last_name" class="form-control" id="last_name" name="last_name" placeholder="">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <label for="last_name">Your Last Name</label>
                  </div>

                  <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="email">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <label for="email">Your Email</label>
                  </div>

                  <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <label for="password">Password</label>
                  </div>

                  <div class="form-floating">
                    <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="">
                    <label for="repeat_password">Repeat your password</label>
                  </div>

                  <br>
                  
                  <p>
                    <label for="date"> &nbsp; Date of Birth: &nbsp;</label>
                    <input type="date" id="date" name="date" required />
                  </p>

                  <div class="form-floating">
                      <input type="tel" class="form-control" id="tel" name="tel" placeholder="">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <label for="tel">Phone Number</label>
                  </div>

                  <div class="form-floating">
                    <input type="text" id="street_address" class="form-control" name="street_address" placeholder="">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <label for="street_address">Street Address</label>
                  </div>

                  <div class="form-floating">
                    <input type="text" id="state_prov" name="state_prov" class="form-control" placeholder="">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <label for="state_prov">State / Province</label>
                  </div>

                  <div class="form-floating">
                    <input type="text" id="postal_code" name="postal_code" class="form-control" placeholder="">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <label for="postal_code">Postal Code / Zip Code</label>
                  </div>

                  <div class="form-floating">
                    <input type="text" id="city" name="city" class="form-control" placeholder="">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <label for="city">City</label>
                  </div>

                  <div class="d-flex justify-content-center">
                    <input type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Register">
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{{ url_for('auth.login') }}"
                      class="fw-bold text-body"><u>Login here</u></a></p>
                  <br>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
{% endblock body %}
